<div class='jumbotron center'>
	<h1>Welcome to One Shore</h1>

	<p>
		<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "Sign Up", "http://gooneshore.com", class: "btn btn-primary btn-lg" %>
		</p>
			</div>
