
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <meta name="description" content="Oneshore Website">
    <meta name="author" content="Ben Rennison">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

  </head>

  <body>

  
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>


          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello One Month Rails!</h1>
        <p class="lead">This is lovely place to keep our information and learn about coding Ruby and using bootstrap</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Why?</h2>
          <p>Because its fun to learn to code!. </p>
          <p><a class="btn btn-primary btn-lg" href="http://benjaminrennison.tumblr.com/" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>How?</h2>
          <p>By completing One Month Rails! </p>
          <p><a class="btn btn-primary btn-lg" href="http://benjaminrennison.tumblr.com/" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Where?</h2>
          <p>At my blog .</p>
          <p><a class="btn btn-primary btn-lg" href="http://benjaminrennison.tumblr.com/" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <h2 class="">Learn to code</h2>
                <div class="center-block">
                    <img  src="#" class="img-responsive text-center" />
                </div>

      <hr>
<address>
  <strong>Oneshore, Inc.</strong><br>
  49 Archdale St, Suite 4<br>
  Charleston, SC 29401<br>
  <abbr title="Phone">P:</abbr> (843) 730-5086
</address>

<address>
  <strong>Contact Us</strong><br>
  <a href="mailto:">hello@oneshore.com</a>
</address>
      <footer>
        <p>&copy; Oneshore 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
